<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650365962319-7nm63erhm8mfiomdjliti1d1t0ffjtop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650365962319-7nm63erhm8mfiomdjliti1d1t0ffjtop</string>
	<key>API_KEY</key>
	<string>AIzaSyCPehexwBdONjN5vSSTN2EpEUmz9jwWGeM</string>
	<key>GCM_SENDER_ID</key>
	<string>650365962319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pdp</string>
	<key>PROJECT_ID</key>
	<string>pdp-1-4715a</string>
	<key>STORAGE_BUCKET</key>
	<string>pdp-1-4715a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650365962319:ios:1ab8ad4a45428f296ac23a</string>
</dict>
</plist>