<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697722181664-0joo85vaa3qk1a1f0uv0dpq30nchlm67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697722181664-0joo85vaa3qk1a1f0uv0dpq30nchlm67</string>
	<key>API_KEY</key>
	<string>AIzaSyCxHhdBm7KOvoq-rOwsAkUiQ6o8JsCp_xc</string>
	<key>GCM_SENDER_ID</key>
	<string>697722181664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.pdp</string>
	<key>PROJECT_ID</key>
	<string>pdp-reserved</string>
	<key>STORAGE_BUCKET</key>
	<string>pdp-reserved.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697722181664:ios:ae8abb989f4fefd2694445</string>
</dict>
</plist>